@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Lora, Helvetica, sans-serif;
    font-weight: 400;
    color:#3a3a3a;
}

#header{
    height: 5%;
    width: 100%;
    background-color: #3a3a3a;
}

/* Headings & Logo */

h1 {
    font-family: Lora, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:#3a3a3a;
}

h2{
    font-family: Lora, sans-serif;
    letter-spacing: 5px;
    color: #3a3a3a;
    }

#logo{
    float: left;
    font-size: 500%;
    margin-left: 5px;
}

/* NAV Links */
#menu{
    font-size: 200%;
    letter-spacing: 5px;
}

#menu, #logo{
    line-height: 80px;
}

#menu ul{
    float: right;
}

#menu li{
    float: left;
    list-style-type: none;
    margin-right: 40px;
}

#menu a{
    text-decoration: none;
    color: inherit;

}

.active{
    border-bottom: 1px solid #3a3a3a;
}


#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
    font-weight: bold;
}

/* Hero Image & cover text */

#hero-outer{
    height:75px;
    width: 100%;
    position: relative;
}


#hero-image{
    height: 700px;
    width: 100%;
    background-image: url('../images/concert.jpg');
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;

    /* animates effect on loading page */
    animation-name: hero-effect;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Landing page main text */

#text-h1{
    
    height: 100px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 125%;
    margin-bottom: 80px;
   
}

#text-h2{
    height: 600px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#text-h2 h2{
    margin-bottom: 40px;
}

#text-h2 span{
    font-size: 110%;
    color: rgb(214, 12, 12);
    
}

#text-h2 a{
    text-decoration: none;
    color: #4e4486;
}

#text-h2 a:hover {
    border-bottom: 1px solid #3a3a3a;
    font-size: 110%;
}





/* Create Hero Image Zoom */
@keyframes hero-effect{
    from{
        opacity: 0
    }
    to{
        opacity: 1;
    }
    

}

/* About Page CSS */

/*  About Image  */

#about-outer {
    height: 75px;
    width: 100%;
    position: relative;
}


#about-image {
    height: 700px;
    width: 100%;
    background-image: url('../images/applause.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    /* animates effect on about page */
    animation-name: about-effect;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* Create about Image Zoom */
@keyframes about-effect {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }


}

/* AboutList */

#about,
#about-text,
#about-list {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#about-text {
    margin: 30px;
    height: 500px;
    width: 100%;
}

#about-list {
    list-style-type: none;
    justify-content: center;
}

/* join Page CSS */

/*  join Image  */

#join-outer {
    height: 75px;
    width: 100%;
    position: relative;
}


#join-image {
    height: 700px;
    width: 100%;
    background-image: url('../images/record.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    /* animates effect on join page */
    animation-name: join-effect;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* Create join Image Zoom */
@keyframes join-effect {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }


}

/* join form */

